/*
Contient les attributs CSS de vos pages web.
*/

@font-face {
    font-family: 'DauphinPlain';
    src: url('fonts/dauphinn.ttf');
}



#myCarousel .carousel-item img {
  width: 100%;          /* full width */
  height: 500px;        /* fixed height, adjust as needed */
  object-fit: cover;    /* crop images to fill without distortion */
}

body{
    padding-top:100px;
}

